h4, h5, p {
  font-family: monospace;
  max-width: 200px;
  text-align: center;
}

.review-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 5px 0 0;
}

h5 {
  margin: 5px 0 0;
}

.review-container div {
  border: 1px dotted black;
  margin: 20px 0;
}